<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 text-center">
      <% @equipment.each do |equip| %>
      <ul>
        <li>
        <%= image_tag equip.picture.url(:medium) %>
        </li>
        <li>
        <%= equip.name %>
        </li>
        <li>
        <%= equip.value %>
        </li>
        <li>
        <%= equip.description %>
        </li>
      <%end%>
    </div>
  </div>
</div>
