<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 text-center">

      <ul>
        <% current_user.equipment.each do |e| %>
        <% if e == current_user.equipment.last %>
        <li>

        <%= image_tag e.picture.url(:medium) %>

        </li>

        <li>

        <%= e.name %>
        </li>
        <li>
        <%= e.value %>
        </li>
        <li>
        <%= e.description %>
        </li>
        <%end%>
      <%end%>

    </div>
  </div>
</div>

