/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */

.text-center {
    text-align: center;
}

.after-nav {
  margin-top: 80px

}



#equipment_name {
  color: black;
}

.disclosure {
  text-align: left;
}

.panel-body {
  text-align: center;
}

.panel-footer {
  text-align: center;
}

.discovery-card-1 {
  background-image: image-url('pro_1.jpg');
}

.discovery-card-2 {
  background-image: image-url('pro_2.jpg');
}

.discovery-card-3 {
  background-image: image-url('pro_3.jpg');
}
