.fotorama img
{
    width: 655px;
    height: 400px;
    margin-left: 0px;
    margin-top: 0px;

}

.pricetag {
  position: relative;
}

.price {
  position: absolute;
}

.day {
  position: absolute;
}

.Profile #Meet a {
  border: 1.5px solid $blue;
  background-color: white;
  color: $blue;
}

.blackmagic-nearby {
  width: 50px;
}

.row .profile {
  padding-top: 20px;
}

.profile {
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-text {

  display: inline-block;
}

.profile-pic {
  width: 100%;
}
