
<div class="rami">
  <div class="row">
    <div class="col-xs-12 text_center">
      <%= object.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 glyphicon glyphicon-euro text_center">
      <%= object.value %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 text_center">
      <%= image_tag object.picture, size: "70x70" %>
    </div>
  </div>
</div>

