<!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
        <%= render partial: 'shared/navbar/left' %>
          <!-- Collect the nav links, forms, and other content for toggling -->
        <%= render partial: 'shared/navbar/right' %>
          <!-- /.navbar-collapse -->
      </div>
  </nav>
