.navbar-brand {
  font-size: 2em;
  font-weight: 400;
}

.navbar-fixed-top {
  background-color: white;
  border-color: transparent;
  transition: all 0.3s linear;
}

.navbar-default.scrolled {
  // background-color: #f8f8f8;
  background-color: #2E2E2E;
  border-color: #2E2E2E;
  .navbar-nav > li > a {
    color: #FFF;
  }
  .navbar-brand {
    color: #777;
  }
}
