.navbar-brand {
  font-size: 2em;
  font-weight: 400;
  color: #F;
}



.navbar-default.scrolled {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
}



.page-scroll > li > a {
    color: #FFF;
}
