#landing_autocomplete {
  padding-left: 10px;
  font-size: 1.2em;
   margin-top: 100px;
   color: $blue;
   height: 45px;
   width: 550px;
}

#index_autocomplete {
  width: 174.422px;
}

.ui-autocomplete-input {
  width: 400px;

}

.ui-autocomplete  {
  list-style-type: none;
  padding: 0;
}

.ui-autocomplete li {
  color: $blue;
  background-color: white;
  padding:10px;
  width: 600px;
}

.ui-autocomplete li a:hover{
  color: white;
  background-color: $blue;
  padding:10px;
  width: 600px;
}

.home_search_btn {
    font-size: 1.2em;
    margin-left: 20px;
   width: 120px;
   height: 45px;
  color: white;
  background-color: $blue;

}

// modify bootstrap button

.btn {
    background-color: $blue;
    color: white;
    padding: 14px 24px;
    border: 1px solid $blue;
    letter-spacing: 1px;

}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: $blue;
    color: #ffffff;
}


.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}


/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 1px solid $light-gray;
    color: $dark-gray;
    font-size: 0.9em;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: $blue;
    border-color: $blue;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: $blue;
    color: $blue;
    background: $form-bg;
    box-shadow: none;
}


// ICON

.gear_icon {
  height: 35px;
  padding-bottom: 5px;
}

.sr-only {
  width: 300px;
}


// Form control
.form-control {
  background: $form-bg;
  box-shadow: none;
  border: 1px solid $form-border;
}

.form-control :focus {
  border-color: $blue;
  outline: 1px solid $blue;
  box-shadow:none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;

}
