<div id="home-search-box">

      <%= form_for Equipment.new, url: equipments_path, :method => 'get', id: "searchForm" do |f| %>

      <%= f.autocomplete_field :name, autocomplete_equipment_name_equipments_path, :placeholder => "What are you looking for? e.g. Canon 5D Mark III" %>
      <%= f.submit "Search", :name => nil, :class => "home_search_btn" %>

    <% end %>
</div>



<script type="text/javascript" charset="utf-8">
  $('#search').bind('railsAutocomplete.select', function(event, data){
    $('#search-form').submit()
  });
</script>


  <script>
  /*$(function() {
    function log( message ) {
      $( "<div>" ).text( message ).prependTo( "#log" );
      $( "#log" ).scrollTop( 0 );
    }

    $( "#search_name" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "equipments",
          dataType: "jsonp",
          data: {
            q: request.term
          },
          success: function( data ) {
            response( data );
          }
        });
      },
      minLength: 3,
      select: function( event, ui ) {
        log( ui.item ?
          "Selected: " + ui.item.label :
          "Nothing selected, input was " + this.value);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });
  });*/
  </script>
